# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: write
  security-events: write

jobs:

  lint:
    name: Lint Code
    runs-on: ubuntu-latest
  
    permissions:
      contents: read
      packages: read
      # To report GitHub Actions status checks
      statuses: write
  
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with: 
          # super-linter needs the full git history to get the
            # list of files that changed across commits
          fetch-depth: 0
          persist-credentials: false
  
      - name: Super-linter
        uses: super-linter/super-linter@v8.2.1 # x-release-please-version
        env:
          VALIDATE_ALL_CODEBASE: true
          VALIDATE_JAVA: true
          # To report GitHub Actions status checks
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  build:
    name: Build Project & Generate Javadoc
    runs-on: ubuntu-latest
    needs: lint

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven
          
      - name: Build with Maven
        run: mvn -B package --file HelloWorldCode/HelloWorldCode/pom.xml
      
      - name: Generate Javadoc
        run: mvn javadoc:javadoc --file HelloWorldCode/HelloWorldCode/pom.xml

      - name: Upload Javadoc
        uses: actions/upload-artifact@v4
        with:
          name: javadoc
          path: HelloWorldCode/HelloWorldCode/target/reports/apidocs

          # Optional: Uploads the full dependency graph to GitHub to improve the quality of Dependabot alerts this repository can receive
      - name: Update dependency graph
        uses: advanced-security/maven-dependency-submission-action@b275d12641ac2d2108b2cbb7598b154ad2f2cee8
        with: 
         directory: HelloWorldCode/HelloWorldCode

  deploy-javadoc: 
    name: Deploy Javadocs to gh-pages
    runs-on: ubuntu-latest
    needs: build

    steps:
     - name: Checkout gh-pages
       uses: actions/checkout@v6
       with:
         ref: gh-pages
         fetch-depth: 0

     - name: Download Javadocs
       uses: actions/download-artifact@v4
       with:
         name: javadoc
         path: new-apidocs

     - name: Sync Javadoc changes into /main
       run: |
         mkdir -p main

         rsync -av --delete new-apidocs/ main/
     
     - name: Commit & push if changes exist
       run: |
         git config user.name "github-actions[bot]"
         git config user.email "github-actions[bot]@users.noreply.github.com"
         git add .
         git diff-index --quiet HEAD || git commit -m "Update Javadocs from workflow"
         git push origin gh-pages


      

    

